.header {
    padding-top: 32px;
    padding-bottom: 8px;
    background-color: hsl(218 12% 18%);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.hamburger {
    width: 32px;
    margin: 0;
    aspect-ratio: 1;
    display: none;
    appearance: none;
    position: absolute;
    cursor: pointer;
    right: 8px;
    top: 32px;
    z-index: 9999;
}
.media-header {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 16px;
    gap: 8px;
    top: 0px;
}
.media-header__line {
    width: 1px;
    height: 33vh;
    background-color: hsl(219 14% 71%);
    display: block;
}
.media-header__links {
    display: grid;
    grid-auto-columns: 1fr;
}
.media {
    width: 32px;
    aspect-ratio: 1;
}
.media__icon {
    width: 100%;
    aspect-ratio: 1;
}
img, picture {
    max-width: 100%;
    display: block;
}
.container {
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
}
.header__inner {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    position: relative;
}
.logo {
    display: flex;
    gap: 8px;
}
.logo__img {
    aspect-ratio: 1;
    width: 16px;
}
.logo__name {
    font-weight: 700;
}
.header__links {
    margin-left: auto;
    display: flex;
    align-items: flex-start;
    gap: 32px;
}
.header__link::before {
    content: "$";
    color: hsl(287 60% 65%);
    font-weight: normal;
}
.header__link_active {
    font-weight: 600;
    color: hsl(0 0% 100%);
}
*, *::before, *::after {
    box-sizing: border-box;
}
.header__link {
    color: hsl(219 14% 71%);
}
.dropdown {
    color: hsl(219 14% 71%);
    position: relative;
}

.dropdown__label {
    cursor: pointer;
    text-transform: uppercase;
}
.dropdown__label::after {
    content: "V";
    display: inline-block;
    scale: 1 0.3;
    font-weight: 500;
    margin-left: 4px;
}
.dropdown__list {
    display: none;
    flex-direction: column;
    border: 1px solid hsl(219 14% 71%);
    position: absolute;
    background-color: hsl(218 12% 18%);
    bottom: 0;
    transform: translateY(100%);
}
.dropdown__option:first-child {
    padding-bottom: 4px;
}
.dropdown__option:nth-child(2) {
    padding-top: 4px;
}
a {
    text-decoration: none;
    color: inherit;
}